
/* 
--color-green-100: rgb(43, 102, 83);
--color-green-300: rgb(126, 126, 255);
--color-green-600: rgb(74, 74, 255);
--color-green-900: rgb(2, 0, 19);

--color-green-0: rgb(242, 246, 255);

--color-white-0: rgb(254, 254, 254);

--color-grey-100: rgb(236, 236, 236);
--color-grey-200: rgba(236, 236, 236, 0.819);
--color-grey-400: rgb(139, 139, 139);
--color-grey-600: rgb(58, 58, 58);
--color-grey-900: rgb(41, 41, 41); */